body {
  font-family: "Cairo", sans-serif;
  background: #111;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: linear-gradient(90deg, #000, #FFD700, #fff);
  padding: 15px;
  color: #000;
}

nav button {
  background: #000;
  color: #FFD700;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
}

nav button:hover {
  background: #FFD700;
  color: #000;
}

main {
  padding: 20px;
}

section {
  background: #222;
  border-radius: 15px;
  margin: 20px auto;
  padding: 20px;
  max-width: 650px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
  text-align: center;
}

button {
  background: linear-gradient(90deg, #FFD700, #000);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(90deg, #000, #FFD700);
}

/* بطاقة المعلم */
.teacher-card {
  background: #333;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.teacher-card img {
  width: 100%;
  border-radius: 10px;
}

/* روابط التواصل */
#socialList div {
  background: #333;
  margin: 5px;
  padding: 8px;
  border-radius: 8px;
}

/* صندوق ID */
.teacher-id-box {
  background: #000;
  border: 1px solid #FFD700;
  border-radius: 10px;
  padding: 8px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFD700;
}

.copy-id {
  background: #FFD700;
  color: #000;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s;
}

.copy-id:hover {
  background: #fff;
  color: #000;
}
